<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon [icon]="closeIcon"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <div class="header-title">
        <span class="title-text">Canciones</span>
        <span class="song-count">{{ songs.length || 0 }}</span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="songs-modal-content" [fullscreen]="true">
  <div class="songs-container">

    <!-- Songs List -->
    <div class="songs-list-wrapper" *ngIf="songs.length; else noSongs">
      <ion-list class="songs-list">
        <ion-item *ngFor="let s of songs; let i = index" class="song-item" (click)="selectSong(s)">

          <!-- Song Number -->
          <div class="song-number" slot="start">
            <span class="number">{{ i + 1 }}</span>
            <ion-icon [icon]="playIcon" class="play-overlay"></ion-icon>
          </div>

          <!-- Song Info -->
          <ion-label>
            <h3 class="song-title">{{ s.title || s.name || ('Track ' + (i+1)) }}</h3>
            <p class="song-artist" *ngIf="s.artist">{{ s.artist }}</p>
            <p class="song-duration" *ngIf="s.duration">{{ formatDuration(s.duration) }}</p>
          </ion-label>

          <!-- Actions -->
          <div class="song-actions" slot="end">
            <!-- Favorite Button -->
            <ion-button fill="clear" (click)="toggleFavorite(s, $event)" [disabled]="isLoadingFavorite(s.id)"
              class="favorite-button">
              <ion-spinner *ngIf="isLoadingFavorite(s.id)" name="crescent"></ion-spinner>
              <ion-icon *ngIf="!isLoadingFavorite(s.id)" [icon]="isFavorite(s.id) ? heartIcon : heartOutlineIcon"
                [class.is-favorite]="isFavorite(s.id)">
              </ion-icon>
            </ion-button>

            <!-- Play Button -->
            <ion-button fill="clear" (click)="$event.stopPropagation(); play(s)" class="play-button">
              <ion-icon [icon]="playIcon"></ion-icon>
            </ion-button>
          </div>
        </ion-item>
      </ion-list>
    </div>

    <!-- Empty State -->
    <ng-template #noSongs>
      <div class="no-songs">
        <ion-icon [icon]="musicalNotesIcon"></ion-icon>
        <p>No hay canciones disponibles</p>
      </div>
    </ng-template>

  </div>
</ion-content>