<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center"> Introducción</ion-title>
    <ion-buttons slot="end">
      <app-theme-button></app-theme-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div class="container-center">
    <swiper-container pagination="true" loop="true" slides-per-view="1">
      <swiper-slide *ngFor="let slide of slides; let i = index">
        <div class="slide-content card">
          <h2>{{slide.title}}</h2>
          <h3 class="subtitle">{{slide.description}}</h3>
          <img [src]="slide.image" [alt]="slide.title" />
        </div>
      </swiper-slide>
    </swiper-container>

    <div class="actions ion-margin-top">
      <ion-button expand="block" color="primary" (click)="startApp()">Ir al Home</ion-button>
      <ion-button expand="block" color="medium" fill="clear" (click)="resetIntroSeen()">Borrar registro de Intro (ver de nuevo)</ion-button>
    </div>
  </div>
</ion-content>

