<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="ion-text-center"> Álbumes </ion-title>
        <ion-buttons slot="end">
            <app-theme-button></app-theme-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <swiper-container 
    pagination = "true"
    loop = "true"
    pagination-clickable = "true"
    slides-per-view = "3"
    >
    <swiper-slide *ngFor="let album of albums" (click)="showSongs(album.id)">
        <div class="slide-content">
            <img [src]="album.image" ng-skip-optimization/>
            <p>{{album.name}}</p>
        </div>
    </swiper-slide>
  </swiper-container>
</ion-content>
