<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="ion-text-center"> Home </ion-title>
        <ion-buttons slot="end">
            <app-theme-button></app-theme-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <swiper-container 
    pagination = "true"
    loop = "true"
    pagination-clickable = "true"
    slides-per-view = "1"
    >
    <swiper-slide *ngFor="let genre of genres">
        <div class="slide-content">
            <h2>{{genre.title}}</h2>
            <img [src]="genre.image" [alt]="genre.title" ng-skip-optimization />
            <p>{{genre.description}}</p>
        </div>
    </swiper-slide>
    </swiper-container>
</ion-content>


