.slide-content {
  text-align: center;
  padding: 10px;

  img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    margin: 10% 0;
  }

  h2 {
    margin: 0;
    font-size: 25px;
    color: var(--ion-color-primary);
    transition: color 0.3s ease;
  }

  p {
    font-size: 20px;
    text-align: center;
    color: var(--ion-text-color);
    transition: color 0.3s ease;
  }
}